In [116]:
# pip install numpy pandas matplotlib ccxt
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import ccxt

In [117]:
symbol = "BTC/USDT"

plot_benchmark = True

since = "01/01/2017"
timeframe = "1d"
fee = 0.0001

exchange = ccxt.binance()

In [118]:
from datetime import datetime

def date_to_milliseconds(date_string):
    date_format = "%d/%m/%Y"
    date = datetime.strptime(date_string, date_format)
    milliseconds = int(date.timestamp() * 1000)
    return milliseconds

since_millis = date_to_milliseconds(since)
print(since, since_millis)

01/01/2017 1483228800000

In [119]:
ohlcv_columns = ['timestamp', 'open', 'high', 'low', 'close', 'volume']

price_date = exchange.fetch_ohlcv(symbol, timeframe, since=0, params={"paginate": True})
ohlcv = pd.DataFrame(price_date, columns=ohlcv_columns)
ohlcv['timestamp'] = pd.to_datetime(ohlcv['timestamp'], unit='ms')
ohlcv = ohlcv.set_index('timestamp')
ohlcv

                open      high       low     close        volume
timestamp
2017-08-17   4261.48   4485.39   4200.74   4285.08    795.150377
2017-08-18   4285.08   4371.52   3938.77   4108.37   1199.888264
2017-08-19   4108.37   4184.69   3850.00   4139.98    381.309763
2017-08-20   4120.98   4211.08   4032.62   4086.29    467.083022
2017-08-21   4069.13   4119.62   3911.79   4016.00    691.743060
...              ...       ...       ...       ...           ...
2024-06-24  63210.01  63369.80  58402.00  60293.30  52161.354140
2024-06-25  60293.30  62420.00  60257.06  61806.01  31189.243610
2024-06-26  61806.01  62487.81  60712.00  60864.99  22485.664630
2024-06-27  60864.98  62389.22  60606.63  61706.47  18344.286310
2024-06-28  61706.46  62225.31  60063.00  60396.67  24204.666090

[2508 rows x 5 columns]

In [130]:
rolling_max = 20
rolling_min = 10

ohlcv['rolling_max'] = ohlcv['high'].rolling(rolling_max).max()
ohlcv['rolling_min'] = ohlcv['low'].rolling(rolling_min).min()

ohlcv['cross_up'] = np.where((ohlcv['close'] > ohlcv['rolling_max'].shift()), True, False)
# ohlcv['cross_down'] = np.where((ohlcv['close'] < ohlcv['rolling_min'].shift()), True, False)
# ohlcv
ohlcv.dropna(inplace=True)
ohlcv
#print(ohlcv.head(30))

# ohlcv['cross_up'][ohlcv['cross_up'] == True]

,open,high,low,close,volume,rolling_max,rolling_min,cross_up
timestamp,,,,,,,,
2018-02-23,9815.55,10435.00,9570.19,10131.04,57202.702370,11786.01,8533.0,False
2018-02-24,10131.04,10496.97,9352.00,9694.51,40888.156299,11786.01,9301.5,False
2018-02-25,9694.51,9847.00,9274.80,9590.00,28373.517586,11786.01,9274.8,False
2018-02-26,9590.00,10444.32,9350.00,10324.00,34878.292756,11786.01,9274.8,False
2018-02-27,10321.00,10870.00,10121.00,10569.04,30705.385123,11786.01,9274.8,False
...,...,...,...,...,...,...,...,...
2024-06-24,63210.01,63369.80,58402.00,60293.30,52161.354140,71997.02,58402.0,False
2024-06-25,60293.30,62420.00,60257.06,61806.01,31189.243610,71997.02,58402.0,False
2024-06-26,61806.01,62487.81,60712.00,60864.99,22485.664630,71997.02,58402.0,False
2024-06-27,60864.98,62389.22,60606.63,61706.47,18344.286310,70195.94,58402.0,False
2024-06-28,61706.46,62225.31,60063.00,60396.67,24204.666090,70195.94,58402.0,False